---
import Layout from '../layouts/Layout.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import MyComp from '../components/react/my-comp.jsx'

import '../assets/styles/gb-fontsource.css'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<!-- Layout vem DIRETO do body -->
<!-- Layout não tem <style> -->
<!-- Layout Já tem o <title>{SITE_TITLE}</title> -->
<Layout>
    <div id="container">
        <main>
            <h1 class="noto-cnd">{SITE_TITLE}</h1>
            <div class="call-out noto-reg-italic">
                <blockquote>{SITE_DESCRIPTION}</blockquote>
            </div>
            <ul>
                <li><a href="./first-script">First Script</a></li>
                <li><a href="./iso639">ISO 639.1 (básica)</a></li>
                <li><a href="./iso639/paginated">ISO 639.1 (paginada + ordenação)</a></li>
                <li><a href="./astro-stuff">Astro stuff</a></li>
                <li><a href="./videos">Videos Table</a></li>
            </ul>

            <MyComp client:load/>
            <p>The current URL is: {Astro.url}</p>
            <p>The current URL pathname is: {Astro.url.pathname}</p>
            <p>The current URL origin is: {Astro.url.origin}</p>
        </main>
    </div>
</Layout>

<style>
    .avatar {
        border-radius: 50%;
    }

    main ul {
        padding-left: 0;
        text-decoration: none;
    }

    main ul li {
        list-style: none;
        margin: 10px 0;
        text-align: center;
    }

    .call-out {
        background: rgba(227, 227, 195, 0.1);
        font-size: 1.3rem;
        text-align: center;
        border-left: 8px solid #ccc;
        border-color: #1a73e8;
        margin: 1em auto 1em auto;
        padding: 10px;
        width: 80%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }


</style>